<div class="container">
    <div class="header">
        <h1 class="header-title">Heures totales</h1>
    </div>
    <div class="body">
        <table id="tableGlobalWorkHours" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Employé</th>
                    <th>Jour</th>
                    <th>Début matin</th>
                    <th>Fin matin</th>
                    <th>Début après-midi</th>
                    <th>Fin après-midi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Application/GlobalWorkhour/GlobalWorkhour.js"></script>
}