@using SaaS.Domain.Company;
@using SaaS.ViewModels.SuperCompany.Company;
@model ConfigurationCompanyViewModel

<div class="header">
    <h1 class="header-title">Panel de l'entreprise @Model.Company.Name</h1>
</div>
<div class="container">
    <div class="functionnalities">
        <div>Ne possède pas</div>
        <ul id="sortable1" class="connectedSortable">
            @foreach (CompanyFunctionnalities functionnality in Model.DontHaveFunctionnalities)
            {
                <li class="ui-state-default">@functionnality.Name</li>
            }
        </ul>

        <div>Possède</div>
        <ul id="sortable2" class="connectedSortable">
            @foreach (CompanyFunctionnalities functionnality in Model.HaveFunctionnalities)
            {
                <li class="ui-state-default">@functionnality.Name</li>
            }
        </ul>
    </div>
    <div class="configuration">
        <div class="users">
            <div class="header">
                <h1 class="header-title">Utilisateurs de l'entreprise</h1>
                <a class="header-button" asp-area="SuperCompany" asp-controller="Company" asp-action="CreateCompanyUser">
                    Créer un utilisateur pour l'entreprise
                </a>
            </div>
            <div class="container">
                <table id="tableCompanyUsers" class="table table-bordered table-striped table-hover dataTable text-center" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>IsEnable</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="design">

        </div>
        <div class="administration">

        </div>
        <div class="worksites">

        </div>
        <div class="employees">

        </div>
        <div class="dailyhours">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/SuperCompany/Company/CompanyFunctionnalities.js"></script>
}