@using SaaS.DataAccess.Repository.PIPL.IRepository;
@using SaaS.Domain.Tenant;
@inject ISuperCompanyUnitOfWork unitOfWork

@{
    var Culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var company = (TenantSiteModel)ViewBag.SelectedSite;

    /*Je vais vérifier si l'utilisateur a accès à chaque fonctionnalités de l'application
     *Cela prends en compte si l'entreprise de l'utilisateur a accès à cette fonctionnalité
     *Puis si l'utilisateur a accès lui également à cette fonctionnalité
     *Si c'est le cas, l'utilisateur peut accéder à la fonctionnalité
    */
    //bool canAccessSuperAdmin = this.unitOfWork.User.CanUserAccessFunctionnality("Access_SuperAdmin", User);
    bool canAccessSuperAdminDashboard = false;
    bool canAccessDashboard = true;
    bool canAccessFunctionnalities = false;
    bool canAccessCompanies = false;
    bool canAccessUsers = false;
    bool canAccessDailyHours = true;
    bool canAccessMessagingSystem = true;
    bool canAccessWorkSites = true;
    bool canAccessCompanyWorkers = true;
    bool canAccessSuperCompanyLog = false;
    bool canAccessDepartments = true;
    bool canAccessJobs = true;
    bool canAccessSubsidiaries = true;
    //bool canAccessSuperAdminDashboard = true;
    //bool canAccessDashboard = false;
    //bool canAccessFunctionnalities = true;
    //bool canAccessCompanies = true;
    //bool canAccessUsers = true;
    //bool canAccessDailyHours = false;
    //bool canAccessMessagingSystem = false;
    //bool canAccessWorkSites = false;
    //bool canAccessCompanyWorkers = false;
    //bool canAccessSuperCompanyLog = true;
    //bool canAccessDepartments = false;
    //bool canAccessJobs = false;
    //bool canAccessSubsidiaries = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SaaS</title>

    <link rel="stylesheet" href="~/css/Application/Layout/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Application/DailyHours/DailyHours.css" />
    <link rel="stylesheet" href="~/css/Page.css"/>
    <link rel="stylesheet" href="~/css/Components/TabControl.css"/>
    <link rel="stylesheet" href="~/css/SuperAdministration/Table.css"/>
    @*<link rel="stylesheet" href="~/lib/semantic/dist/css/semantic.min.css"/>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/Components/DatePicker.css" />
    <link rel="stylesheet" href="~/css/Components/TimePicker.css" />

    @RenderSection("BootstrapSelect", required: false)

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cferdinandi/tabby/dist/css/tabby-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/light.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    @*<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"/>*@
    @*<link rel="stylesheet" href="https://unpkg.com/@djthoms/pretty-checkbox"/>*@
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="#" class="brand">
            @company?.Name
        </a>
        <ul class="side-menu">
            @*<li>
                @if (canAccessSuperAdminDashboard)
                {
                    <a asp-area="SuperCompany" asp-controller="Dashboard" asp-action="Index">
                        <i class='bx bxs-dashboard icon'></i>
                        <span class="links_name">Tableau de bord</span>
                    </a>
                }
                @if (canAccessDashboard)
                {
                    <a asp-area="Application" asp-controller="Dashboard" asp-action="Index">
                        <i class='bx bxs-dashboard icon'></i>
                        <span class="links_name">Tableau de bord</span>
                    </a>
                }
            </li>*@
            @if (canAccessSuperAdminDashboard)
            {
                <li class="divider" data-text="super administration">Super Administration</li>
            }
            @*<li>
                <a asp-area="SuperAdministration" asp-controller="Functionnality" asp-action="Index">
                    <i class='bx bxs-inbox icon'></i>
                    Elements 
                    <i class='bx bx-chevron-right icon-right'></i>
                </a>
                <ul class="side-dropdown">
                    <li><a href="#">Alert</a></li>
                    <li><a href="#">Badges</a></li>
                    <li><a href="#">Breadcrumbs</a></li>
                    <li><a href="#">Button</a></li>
                </ul>
            </li>*@
            @if (canAccessFunctionnalities)
            {
                <li>
                    <a asp-area="SuperCompany" asp-controller="Functionnality" asp-action="Index">
                        <i class="bx bxs-inbox icon"></i>
                        <span class="links_name">Fonctionnalités</span>
                    </a>
                </li>
            }
            @if (canAccessCompanies)
            {
                <li>
                    <a asp-area="SuperCompany" asp-controller="Company" asp-action="Index">
                        <i class='bx bxs-chart icon'></i>
                        <span class="links_name">Entreprises</span>
                    </a>
                </li>
            }
            @if (canAccessUsers)
            {
                <li>
                    <a asp-area="SuperCompany" asp-controller="User" asp-action="Index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Utilisateurs</span>
                    </a>
                </li>
            }
            @if (canAccessSuperCompanyLog)
            {
                <li>
                    <a asp-area="SuperCompany" asp-controller="Log" asp-action="Index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Journal</span>
                    </a>
                </li>
            }
            <li class="divider" data-text="administration">Administration</li>
            @if (canAccessSubsidiaries)
            {
                <li>
                    <a asp-area="application" asp-controller="subsidiary" asp-action="index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Filliales</span>
                    </a>
                </li>
            }
            @if (canAccessDepartments)
            {
                <li>
                    <a asp-area="application" asp-controller="department" asp-action="index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Départements</span>
                    </a>
                </li>
            }
            @if (canAccessJobs)
            {
                <li>
                    <a asp-area="application" asp-controller="job" asp-action="index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Postes</span>
                    </a>
                </li>
            }
            @if (canAccessCompanyWorkers)
            {
                <li>
                    <a asp-area="application" asp-controller="user" asp-action="index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Employés</span>
                    </a>
                </li>
            }
            <li class="divider" data-text="messagerie">Messagerie</li>
            @if (canAccessMessagingSystem)
            {
                <li>
                    <a asp-area="Application" asp-controller="Messaging" asp-action="Index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Messagerie</span>
                    </a>
                </li>
            }
            <li class="divider" data-text="entreprise">Entreprise</li>
            @if (canAccessWorkSites)
            {
                <li>
                    <a asp-area="Application" asp-controller="WorkSite" asp-action="Index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Chantiers</span>
                    </a>
                </li>
            }
            <li class="divider" data-text="employee">Travail</li>
            @if (canAccessDailyHours)
            {
                <li>
                    <a asp-area="Application" asp-controller="DailyHours" asp-action="Index">
                        <i class='bx bxs-widget icon'></i>
                        <span class="links_name">Heures journalières</span>
                    </a>
                </li>
            }
        </ul>
    </section>

    <!--CONTENT-->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search icon'></i>
                </div>
            </form>
            <a href="#" class="nav-link">
                <i class='bx bxs-bell icon'></i>
                <span class="badge">5</span>
            </a>
            <a asp-area="Application" asp-controller="Messaging" asp-action="Index" class="nav-link">
                <i class='bx bxs-message-square-dots icon'></i>
                <span class="badge">8</span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                <ul class="profile-link">
                    <li>
                        @*<a asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class='bx bxs-user-circle icon'></i>
                            Profile
                        </a>*@
                        <a asp-area="Application" asp-controller="Account" asp-action="Manage">
                            <i class='bx bxs-user-circle icon'></i>
                            Profil
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-cog'></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Application" asp-controller="Connection" asp-action="Logout">
                            <button id="logout" type="submit">Logout</button>
                        </form>
                        @*<a asp-area="Application" asp-controller="Connection" asp-action="Logout">
                            <i class='bx bxs-log-out-circle'></i>
                            Logout
                        </a>*@
                    </li>
                </ul>
            </div>
        </nav>

        <!-- MAIN -->
        <main>
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby/dist/js/tabby.polyfills.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    @*<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script src="~/js/Page.js"></script>
    <script src="~/js/Components/Combobox.js" asp-append-version="true"></script>
    <script src="~/js/Components/DatePicker.js" asp-append-version="true"></script>
    <script src="~/js/Components/TimePicker.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
