<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SaaS</title>
    <link rel="stylesheet" href="~/css/SuperAdminPanel.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Entreprise</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                @*<i class='bx bx-search'></i>*@
                @*<span class="material-icons-sharp btnicon">search</span>*@
                <input type="text" placeholder="Rechercher">
                <span class="tooltip">Rechercher</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Tableau de bord</span>
                </a>
                <span class="tooltip">Tableau de bord</span>
            </li>
            @*<li>
            <a href="#">
            <i class='bx bx-user'></i>
            <span class="links_name">Utilisateur</span>
            </a>
            <span class="tooltip">Utilisateur</span>
            </li>*@
            @*<li>
            <a href="#">
            <i class='bx bx-chat'></i>
            <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
            </li>*@
            @*<li>
            <a href="#">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="links_name">Graphiques</span>
            </a>
            <span class="tooltip">Graphiques</span>
            </li>*@
            @*<li>
            <a href="#">
            <i class='bx bx-cog'></i>
            <span class="links_name">Paramètres</span>
            </a>
            <span class="tooltip">Paramètres</span>
            </li>*@
            <li class="profile">
                <div class="profile-details">
                    <img src="profile.jpg" alt="profileImg">
                    <div class="name_job">
                        <div class="name">Nom prénom</div>
                        <div class="job">Profession</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        @RenderBody()
    </section>



    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SaaS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SaaS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
