@using SaaS.ViewModels.Application.Job;
@model CreateJobViewModel

<div class="container">
    <div class="header">
        <h1 class="header-title">Créer un poste</h1>
    </div>

    <form method="post" asp-area="application" asp-controller="job" asp-action="create" class="form-floating">
        <div class="body">
            <input asp-for="Job.Id" hidden />
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="Job.Name" class="form-control" />
                <label asp-for="Job.Name" class="ms-2"></label>
                <span asp-validation-for="Job.Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="Job.Description" class="form-control" />
                <label asp-for="Job.Description" class="ms-2"></label>
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="Job.Code" class="form-control" />
                <label asp-for="Job.Code" class="ms-2"></label>
                <span asp-validation-for="Job.Code" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="@Model.Job.DepartmentId" asp-items="@Model.DepartmentList" class="form-select border-0 shadow">
                    <option disabled selected>--Sélectionner un département--</option>
                </select>
                <label asp-for="Job.DepartmentId" class="ms-2">Département</label>
                <span asp-validation-for="Job.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="footer-button-valid" style="width: 150px;">Créer</button>
            <a class="footer-button-cancel" asp-area="application" asp-controller="job" asp-action="index">
                Annuler
            </a>
        </div>
    </form>
</div>