@section BootstrapSelect{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<div class="header">
    <h1 class="header-title">Postes</h1>
    <a class="header-button" asp-area="application" asp-controller="job" asp-action="create">
        Créer un poste
    </a>
</div>
<div class="container">
    <table id="tableJobs" class="table table-bordered table-striped table-hover dataTable text-center" style="width: 100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Nombre employés</th>
                <th>Est actif ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Application/Job/Job.js"></script>
}