<div class="container">
    <div class="header">
        <h1 class="header-title">Postes</h1>
        <a class="header-button add" asp-area="application" asp-controller="job" asp-action="create">
            Créer un poste
        </a>
    </div>
    <div class="body">
        <table id="tableJobs" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Filliale</th>
                    <th>Service</th>
                    <th>Nombre employés</th>
                    <th>Est actif ?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Application/Job/Job.js"></script>
}