@using SaaS.ViewModels.Application.User;
@model CreateUserViewModel

<div class="container">
    <div class="header">
        <h1 class="header-title">Créer un employé</h1>
    </div>

    <form method="post" asp-area="application" asp-controller="user" asp-action="create" class="form-floating">
        <div class="body">
            <input asp-for="User.Id" hidden />
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="User.Firstname" class="form-control" />
                <label asp-for="User.Firstname" class="ms-2"></label>
                <span asp-validation-for="User.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="User.Lastname" class="form-control" />
                <label asp-for="User.Lastname" class="ms-2"></label>
                <span asp-validation-for="User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="User.Email" class="form-control" />
                <label asp-for="User.Email" class="ms-2"></label>
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="password" asp-for="Password" class="form-control" />
                <label asp-for="Password" class="ms-2"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <label asp-for="ConfirmPassword" class="ms-2"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select id="subsidiarySelect" name="subsidiaryId" asp-items="@Model.SubsidiaryList" class="form-select border-0 shadow" required>
                    <option disabled selected>--Sélectionner une filliale--</option>
                </select>
            </div>
            <div class="form-floating py-2 col-12">
                <select id="departmentSelect" name="departmentId" class="form-select border-0 shadow" required>
                    <option disabled selected>--Sélectionner un service--</option>
                </select>
            </div>
            <div class="form-floating py-2 col-12">
                <select id="jobSelect" name="jobId" asp-for="JobId" class="form-select border-0 shadow" required>
                    <option disabled selected>--Sélectionner un poste--</option>
                </select>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="footer-button-valid" style="width: 150px;">Créer</button>
            <a class="footer-button-cancel" asp-area="application" asp-controller="user" asp-action="index">
                Annuler
            </a>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/Application/User/CreateUser.js"></script>
}