<div class="container">
    <div class="header">
        <h1 class="header-title">Employés</h1>
        <a class="header-button add" asp-area="application" asp-controller="user" asp-action="create">
            Créer un employé
        </a>
    </div>
    <div class="body">
        <table id="tableEmployees" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Poste</th>
                    <th>Service</th>
                    <th>Filliale</th>
                    <th>Actif ?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Application/User/User.js"></script>
}