@using SaaS.Domain.Work;
@model WorkHour

<form asp-area="Application" asp-controller="DailyHours" asp-action="ValidHours">
    <div class="header">
        <h1 class="header-title">Heures journalières</h1>﻿
        <div class="input-group mb-3">
            <input asp-for=WorkDay type="text" id="datepicker" placeholder="Sélectionner une date" data-input>
            <span class="input-group-text" style="background-color: transparent; border: 0px solid">Ico</span>
        </div>
        <button class="header-help" id="helpButton" type="button">
            <i class="bx bx-help-circle icon"></i>
        </button>
        @*<ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Dashboard</a></li>
        </ul>*@
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-head">
                <h2 class="card-title">Matin</h2>
                <i class="bx bx-minus icon"></i>
            </div>
            <div class="card-body">
                <div class="morninghours">
                    <h3>Début :</h3>
                    <div class="input-group mb-3">
                        @*Utiliser Toast UI en cas de problème avec cette librairie pour les timepicker*@
                        <input asp-for=MorningStart type="text" id="timepickerMorningStart" placeholder="Sélectionnez un horaire" date-input />
                    </div>
                    <h3>Fin :</h3>
                    <div class="input-group mb-3">
                        <input asp-for=MorningEnd type="text" id="timepickerMorningEnd" placeholder="Sélectionnez un horaire" date-input />
                    </div>
                </div>
                ﻿@*<select asp-for=Test class="js-example-basic-single" name="state" style="width: 200px">
                <option>Alabama</option>
                <option>Wyoming</option>
                <option>Ain</option>
                <option>Bourgogne</option>
                </select>*@
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <h2 class="card-title">Après-midi</h2>
                <i class="bx bx-minus icon"></i>
            </div>
            <div class="card-body">
                <div class="morninghours">
                    <h3>Début :</h3>
                    <div class="input-group mb-3">
                        <input asp-for=EveningStart type="text" id="timepickerEveningStart" placeholder="Sélectionnez un horaire" date-input />
                    </div>
                    <h3>Fin :</h3>
                    <div class="input-group mb-3">
                        <input asp-for=EveningEnd type="text" id="timepickerEveningEnd" placeholder="Sélectionnez un horaire" date-input />
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <h2 class="card-title">Informations complémentaires</h2>
                <i class="bx bx-minus icon"></i>
            </div>
            <div class="card-body">
                <div>
                    <textarea style="width: 100%;" asp-for="Comment">

                    </textarea>
                </div>
                <div>
                    <p>Panier repas ?</p>
                    <label class="switch">
                        <input type="checkbox" asp-for="LunchBox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <button type="submit">
            Enregistrer
        </button>
    </div>
</form>

@section Scripts{
    <script src="~/js/Application/DailyHours/DailyHours.js"></script>
} 