@using SaaS.DataAccess.Repository.PIPL.IRepository;
@inject ISuperCompanyUnitOfWork unitOfWork

@{
    bool canAccessAddDailyHours = true;
    bool canDisplayCommentInTable = true;
    bool canDisplayLunchBoxInTable = true;
    bool canDisplayEditButton = true;
}

<div class="header">
    <h1 class="header-title">Heures de travail</h1>
    @if (canAccessAddDailyHours)
    {
        <a class="header-button" asp-area="Application" asp-controller="DailyHours" asp-action="Create">
            Ajouter une journée
        </a>
    }
</div>
<div class="container">
    @*Afficher l'ensemble des heures de travail de l'utilisateur dans un tableau
      Il faut pouvoir le filtrer suivant les dates de travail, les chantiers, les chefs de chantiers...
    *@
    <table id="tableCompany" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Début matin</th>
                <th>Fin matin</th>
                <th>Début après-midi</th>
                <th>Fin après-midi</th>
                @if (canDisplayCommentInTable)
                {
                    <th>Commentaire</th>
                }
                @if(canDisplayLunchBoxInTable) 
                {
                    <th>Panier repas ?</th>
                }
                @if(canDisplayEditButton)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        var currentUser = {
            username: '@User.Identity.Name',
        }
        var moninstance = @unitOfWork;
    </script>
    <script src="~/js/Application/DailyHours/DailyHours.js"></script>
}