<div class="container">
    <div class="header">
        <h1 class="header-title">Utilisateurs</h1>
        <a class="header-button add" asp-area="supercompany" asp-controller="user" asp-action="create">
            Créer un utilisateur
        </a>
    </div>
    <div class="body">
        <table id="tableUsers" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Enteprise</th>
                    <th>IsEnable</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/SuperCompany/User/User.js"></script>
}