<div class="container">
    <div class="header">
        <h1 class="header-title">Départements</h1>
        <a class="header-button add" asp-area="application" asp-controller="department" asp-action="create">
            Créer un département
        </a>
    </div>
    <div class="container">
        <table id="tableDepartments" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Filliale</th>
                    <th>Nombre postes</th>
                    <th>Nombre employés</th>
                    <th>Est actif ?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Application/Department/Department.js"></script>
}