<div class="container">
    <div class="header">
        <h1 class="header-title">Fonctionnalités</h1>
        <a class="header-button add" asp-area="supercompany" asp-controller="functionnality" asp-action="create">
            Créer une fonctionnalité
        </a>
    </div>
    <div class="body">
        <table id="tableFunctionnalities" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Créé à</th>
                    <th>Actif</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/SuperCompany/Functionnality/Functionnality.js"></script>
}