@{
    var status = Context.Request.Query["status"];
    var unClotured = "text-primary";
    var clotured = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "clotured":
            clotured = "active text-white bg-primary";
            break;
        case "unClotured":
            unClotured = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }

    var canFilterCloturedWorkSites = true;
}

<div class="container">
    <div class="header">
        <h1 class="header-title">Chantiers</h1>
        <a class="header-button add" asp-area="application" asp-controller="worksite" asp-action="create">
            Créer un chantier
        </a>
    </div>
    <div class="body">
        @if (canFilterCloturedWorkSites)
        {
            <div class="d-flex justify-content-between pb-5 pt-2">
                <ul class="list-group list-group-horizontal-sm">
                    <a style="text-decoration:none;" asp-area="application" asp-controller="worksite" asp-action="index" asp-route-status="all">
                    <li class="list-group-item @all">Tous</li>
                    </a>
                    <a style="text-decoration:none;" asp-area="application" asp-controller="worksite" asp-action="index" asp-route-status="unClotured">
                    <li class="list-group-item @unClotured">Non clotûrés</li>
                    </a>
                    <a style="text-decoration:none;" asp-area="application" asp-controller="worksite" asp-action="index" asp-route-status="clotured">
                    <li class="list-group-item @clotured">Clôturés</li>
                    </a>
                </ul>
            </div>
        }
        <table id="tableWorkSites" class="display" style="width: 100%; font-size: 16px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Créateur</th>
                    <th>Actif</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Application/WorkSite/WorkSite.js"></script>
}