@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/WebSite.css">
    <title>Accueil</title>
</head>
<body>
    <!--Navbar-->
    <nav>
        <div class="container">
            <div class="navbar-wrapper">
                <a href="#" class="navbar-logo">
                    <img src="~/Logo_PIPL_Developpement.png" alt="Logo de l'entreprise" class="logo"/>
                </a>
                <div class="navbar-menu-wrapper">
                    <div class="container">
                        <div class="navbar-menu-box">
                            <ul class="navbar-menu" role="list">
                                <li>
                                    <a href="#" class="navbar-menu-item active">Accueil</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar-menu-item">Services</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar-menu-item">Prix</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar-menu-item">Nous contacter</a>
                                </li>
                                @*<li class="navbar-submenu-wrapper">
                                    <a href="#" class="navbar-menu-item navbar-toggle-submenu">More <i class="ri-arrow-down-s-line"></i></a>
                                    <ul class="navbar-submenu" role="list">
                                        <li>
                                            <a href="#" class="navbar-submenu-item">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#business" class="navbar-submenu-item">Success Business</a>
                                        </li>
                                        <li>
                                            <a href="#testimonial" class="navbar-submenu-item">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="#" class="navbar-submenu-item">Blog</a>
                                        </li>
                                    </ul>
                                </li>*@
                            </ul>
                            <ul class="navbar-menu" role="list">
                                <li>
                                    <a asp-area="WebSite" asp-controller="HomePage" asp-action="Login" class="navbar-menu-item">Connexion</a>
                                </li>
                                <li>
                                    <a asp-area="WebSite" asp-controller="HomePage" asp-action="Signup" class="btn btn-blue">Inscription</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Navbar-->
    <!--Header-->
    <!--Header-->
    @*<script src="script.js"></script>*@
</body>
</html>