<div class="header">
    <h1 class="header-title">Employés</h1>
    <a class="header-button" asp-area="Application" asp-controller="Worker" asp-action="Create">
        Créer un employé
    </a>
</div>
<div class="container">
    <table id="tableWorkers" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Département</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Application/Worker/Worker.js"></script>
}